
*{
    padding: 0px;
    margin: 0px;
}

$bg-green:#cff1e5;
$font-size: medium;




body{
    background-color: $bg-green;
    padding: 2rem;
    margin-top: 1rem;
}

.curso{
    font-size: 1.50rem;
    font-family:'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    margin: 1rem;
    color: grey;
    background-color: honeydew;

}  

.container-fluid-inscripcion{
    h1{
        font-family:'Ubuntu', sans-serif;
        display: flex; 
        color: grey;
        margin: 2rem;
        padding: 1rem;
        text: {
            align: center;
        }
    }
}
.container-cursos-form , .mb-3{
    display: flex;
    flex-direction:column;
    margin: 1rem;
    padding: 2rem;
    font-family:'Ubuntu', sans-serif;
    font-size: 1.50rem;
    color: grey;
}

.form-control{
    padding: 1rem;
    color: grey;
    border: solid;
    border-radius: 1rem;

}
.form-control-tarea{
padding: 2rem;
color: grey;
border: solid;
border-radius: 1rem;

}

/* RESPONSIVE*/

/*MOBILE*/
@media (min-width: 360px) {
    .container-fluid-descripcion{
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        align-items: center;
        .curso{
            text-align: center;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }


}

@media (min-width: 576px) { 
    
    .container-fluid-descripcion{
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        align-items: center;
        .curso{
            text-align: center;
            flex-direction: column;
        }
 }

}
 /*Tablet*/
 @media (min-width: 768px) {
     .container-fluid-descripcion{
         display: flex;
         flex: row;
         align-items: space-around;
         .curso{
            text-align: center;
            display: flex;
            flex-direction: space-around;
        }
     }
     
  }

/*Desktop*/

@media (min-width: 992px){

.curso{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    margin: 1rem;
    color: grey;
    background-color: honeydew;       
 }
}































































































































































































































































































