* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #c2eede;
  padding: 2rem;
  margin-top: 1rem;
}

.curso {
  font-size: 1.50rem;
  font-family: 'Ubuntu', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem;
  margin: 1rem;
  color: grey;
  background-color: honeydew;
}

.container-fluid-inscripcion h1 {
  font-family: 'Ubuntu', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: grey;
  margin: 2rem;
  padding: 1rem;
  text-align: center;
}

.container-cursos-form, .mb-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
  padding: 2rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.50rem;
  color: grey;
}

.form-control {
  padding: 1rem;
  color: grey;
  border: solid;
  border-radius: 1rem;
}

.form-control-tarea {
  padding: 2rem;
  color: grey;
  border: solid;
  border-radius: 1rem;
}

/* RESPONSIVE*/
/*MOBILE*/
@media (min-width: 360px) {
  .container-fluid-descripcion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-fluid-descripcion .curso {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 576px) {
  .container-fluid-descripcion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-fluid-descripcion .curso {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/*Tablet*/
@media (min-width: 768px) {
  .container-fluid-descripcion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: row;
        -ms-flex: row;
            flex: row;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
  }
  .container-fluid-descripcion .curso {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: space-around;
            flex-direction: space-around;
  }
}

/*Desktop*/
@media (min-width: 992px) {
  .curso {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 2rem;
    margin: 1rem;
    color: grey;
    background-color: honeydew;
  }
}
/*# sourceMappingURL=stylecursos.css.map */