
*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(194, 238, 222);
}



































































































































































































































































































