*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(45deg, #75a795 0%, #85f5df 100%);
    
    
}
   


/*Banner de Anuncios*/

.header-anuncios{

    background-color: #aaf1f3;
    height: 9vh;
    font-family: 'Ubuntu', sans-serif;
}

.header-anuncios li{
    padding: 1.10rem;
    list-style: none;
    text-align: center;
    
}


/*---------------- GRID---------*/
#grilla{
    display: grid;
    grid-template-areas:
    "header-anuncios header-anuncios header-anuncios" 
    "header header header"
    "section-1 section-1 section-1" 
    "section-2 section-2 section-2"
    "section-3 section-3 section-3"
    "footer footer footer";
}

.header-anuncios{
    grid-area: header-anuncios;
}

header{
    grid-area: header;
}

#section-1{
    grid-area: section-1;
}

#section-2{
    grid-area: section-2;
}

#section-3{
    grid-area: section-3;
    padding-bottom: 1rem;
}

footer{
    grid-area: footer;
}



/*---------------- HEADER---------*/
header{
 display: flex;
 align-items: center;
 padding: 0.50rem;
 background-color: aliceblue;
}

/* ------LOGO--------*/

.logo-flex{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem;
    margin: 2 rem;
    background-color: aliceblue;
    flex-wrap: nowrap;

}

.logo-flex div{
    background-color: #494a4b;
    align-items: flex-start;
    flex-direction:row;
    margin: 2rem;
    padding: 2rem;

}

/* Menu list style*/


.navbar{
    padding: 3rem; 
    display: flex;
    display: inline-block;
    list-style: none;
    display:flex;
    align-items: flex-end;
    color: gray;
    margin: 0,50rem;
    
}


.nav-link{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: gray;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    color: rgb(158, 168, 166);
    padding: 1rem;
    font-weight: bold;
    margin: 0.50rem;
  
}



.dropdown-menu a{
    padding: 0rem;
    margin: 0.50rem;
    color: gray;
    font-family: 'Ubuntu', sans-serif;

}


/*Carrousel de imagenes dinamico*/

.carousel-item{
    height: 30rem;
    width: 100rem;
    margin: 0.50rem;
    justify-content: center;

}


    
main{
}

/*Titulos y Desripcion tratamientos*/



.titulos{
    text-transform: uppercase;
    text-align: center;
    list-style: none;
    padding: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    color: #494a4b;
    background-color: rgb(166, 209, 219);
    margin: 2rem;
    
}   
.descripcion{
    text-align:justify;
    list-style: none;
    padding: 00.50rem;
    margin: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: large;
    line-height: 2rem;
    color: #494a4b;
    
}

/* --------------CARDS---------- */


.container-cards{
    display: flex;
    justify-content: space-around;
    
   

}
    



.container-button button{
    padding: 1rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 15rem;
    border: rgb(185, 184, 184) solid;
    border-radius: 1.5rem;
    background-color: #ccfaec;
    color: gray;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: medium;
    display: flex;
    flex-direction: column;
    
    
    
}

.container-button{
    align-self: center;
    align-items: center;
}

.container-image-card{
    background-color: #aaf1f3;
    border: solid;
    color: #aaf1f3;

}

/*---------------- Estilos y transformaciones botones---------------*/

button{
    cursor: pointer;
    text-align: center;
    position: center; 

    
}

button:hover, button:focus,.btn, button a {
    color: #027250;
    font-family: 'Ubuntu', sans-serif;

}

button:hover{
    transform: scale(1.1);
}

.nav-item a a:hover{
    cursor: pointer;
    color:#027250;
}

button a{
    text-decoration: none;
    color: gray;
}


/* -------------------- FOOTER--------------*/


footer{
    background-color: #a6dbdd
    
    
       
           
}



.container-fluid-footer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    
}

.container-home{
    justify-content: initial;
    flex-direction: column;
}


.container-seguinos, .container-ubicacion, .container-contacto{
    font-family: 'Ubuntu', sans-seri;
    font-size: medium;
    padding: 2rem;
    display: inline-block;
    
  
}

.container-iconos-redes a, .container-iconos-ubicacion a,.container-iconos-contacto a{
    color: gray;
    
   
}


.container-seguinos li, .container-ubicacion li, .container-contacto li{

    list-style: none;
    display: inline-block;
    font-family: 'Ubuntu', sans-seri;
    font-size: medium;
    padding: 0.50rem;
    text-decoration: none;
    font-size:larger; 
    color: gray; 

 }

.container-home li{
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-seri;
    font-size: medium; 
    display: inline-block;
    flex-direction: column;
    padding: 1.50rem;
    color: gray;
}

.container-home a{
list-style: none;
text-decoration: none;
font-family: 'Ubuntu', sans-seri;
font-size: medium;  
display: inline-block;
flex-direction: column;
padding: 1.50rem;
color: gray;  

}


.contacto{
list-style: none;
text-decoration: none;
display: inline-block;
flex-direction: column;
padding: 2rem;
color: gray;
}


h6{
font-family: 'Ubuntu', sans-serif;
font-size: medium;
color: gray;
padding: 2rem;
display:inline-table;
flex-direction: column;

}



/* ---------------------------------------------------RESPONSIVE ----------------------------------------------------------------*/

/*MOBILE*/
@media (min-width: 360px) {
    .container-cards{
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        align-items: center;
    }

}

@media (min-width: 576px) { 
    
    .container-cards{
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        align-items: center;
 }

}
 /*Tablet*/
 @media (min-width: 768px) {
     .container-cards{
         display: flex;
         flex: row;
         align-items: space-around;
     }
     .container-section-texto{
         text-align: center;
     }
     
  }

/*Desktop*/

@media (min-width: 992px){

.container-cards{
    display: flex;
    flex-direction: row;
    align-items: space-around;   

}

.navbar-toggler-icon{
    display: none;
}

}